<div class="panel panel-default">
        <div class="panel-heading">
            <h2>Users</h2>
         </div>
         <div class="panel-body">
           <app-spinner [visible]="isLoading"></app-spinner>
              <div class="row" *ngIf="!isLoading">
                  <ul class="list-group">
                  <li *ngFor="let eachUser of users" 
                  (click) = "changeCurrentUser(eachUser)"
                  [class.active] = "currentUser == eachUser"
                  class="list-group-item users">
                  <app-user [user]="eachUser"
                  (addUsertoRoom) = addUser($event)
                  (removeUserfromRoom) = removeUser($event)
                  [activeUsers] = "activeUsers"></app-user>
                </li>
                </ul>
              </div>
        </div>
  </div>