
<div class="panel panel-default">
        <div class="panel-heading">
            <h2>Available chat rooms</h2>
         </div>
         <div class="panel-body">
           <app-spinner [visible]="isLoading"></app-spinner>
              <div class="row" *ngIf="!isLoading">
                <ul class="list-group">
                  <li *ngFor="let eachRoom of roomList" class="list-group-item">
                    <a routerLink="/chat-room/{{eachRoom.$key}}" routerLinkActive="active">{{eachRoom.room_title}}</a>
                    <!--<app-chat-room [chatRoom]="eachRoom">
                    </app-chat-room>-->
                  </li>
                </ul>
              </div>
        </div>
  </div>

