<img src="{{message.avatar}}" class="img-thumbnail pull-right" alt="{{message.user}}">
<div class="content"> <h4>{{message.content}}</h4></div>
<h6 class="pull-right"><b>{{message.user}}</b> | {{message.timestamp | date: 'medium'}}</h6>
<!--<h6>{{message.timestamp|date:'medium'}}</h6>-->
