<h1>
  Talk2Me Chat Rooms
</h1>

<div class="navbar navbar-default">
  <div *ngIf="isAuth" class="navbar-brand">
    <img class="pull-left img-rounded img-responsive" width="50" height="50" src="{{user.avatar}}" alt="{{user.name}}">
  {{user.name}}</div>
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="/create-chat-room" routerLinkActive="active" *ngIf="isAuth"><i class="material-icons">build</i> Create New Room</a>
    </li>
    <li>
      <a routerLink="/chat-room-list" routerLinkActive="active" *ngIf="isAuth"><i class="material-icons">chat</i> Room List</a>
    </li>
    <li>
      <a class="pull-right" href="#" (click)="logout()" *ngIf="isAuth">Logout</a>
    </li>
    <li>
      <a href="#" (click)="login()" *ngIf="!isAuth"><img src="assets/login.png"></a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
