li{
    background: white;
    padding: 0.5rem;
    margin-bottom: 3rem;
    overflow: hidden;
    box-sizing: border-box;
    width: 60%;
    display: block;
    box-shadow: 5px 5px 1px gray;
    border-radius: 15px;
    
    float:center;
}