<ul class="list-group" id="messages_content">
    <li *ngFor="let eachMessage of messages"
      class="list-group-item"
      [ngClass]="{'pull-right': eachMessage.userId==currentUid }">
      <div class="message_box">
        <app-message 
        [message]="eachMessage"></app-message>
      </div>

    </li>
  </ul>
