
<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-default">
        <div class="panel-heading well">
            <h2>{{chatRoom.room_title}} <small>by: {{chatRoom.admin}}</small></h2>
         </div>
         <div class="panel-body">
             <div class="row discussion" id="messages"><app-messages [room]="chatRoom"></app-messages></div><br>
            <div class="row" id="send">
                        <form (ngSubmit) = "submitForm(formData)" #formData="ngForm">
                        <div class="input-group">
                            <div class="input-group-btn"> 
                            <button type="submit" class="btn btn-default">Send</button>  
                            </div>
                            <input type="text" class="form-control" placeholder="Type a message...." name="content" id="new_message" [(ngModel)] = "message.content"/> 
                        </div>
                        </form> 
            </div>
        </div>
        </div>
    </div>
    
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <app-users *ngIf="isAdmin"
        (addUsertoRoomFromUsers) = addUser($event)
        (removeUserfromRoomFromUsers) = removeUser($event)
        [activeUsers] = "activeUsers"></app-users>
    </div>
    
</div>