#send {
    width: auto;
    padding-left: 3rem;
}

#messages{
    background: white;
  padding: 10px;
  border-radius: 2px;
}

.discussion li {
  display: flex;
}

.discussion{
    overflow: scroll;
    height: 350px;
}

#new_message{
    width: auto;
}
