<form (ngSubmit) = "onSubmit(formData)" #formData="ngForm">
  <legend>Create a new Chat Room</legend>

  <div class="form-group">
    <label for="pname">Chat Room Name</label>
    <input type="text" class="form-control" name="room_title" id="room_title" placeholder="Name the room..." [(ngModel)] = "room.room_title">
  </div>

  <button type="submit" class="btn btn-primary">Create</button>
</form>