
<div class="checkbox pull-right">
    <label>
        <input type="checkbox" value="userAdded" [(ngModel)]="selected" (ngModelChange)="toggleSelected()">
        Add to Chat?
    </label>
</div>

<img src="{{user.photoURL}}" width="50px" height="50px"> <b>{{user.displayName}}</b>